.main
{
    margin: 0 auto;
    @apply w-full relative top-[12vh] flex items-center justify-between
}

.collection
{
    @apply h-full flex justify-center border-2 border-blue-800;
}

.group
{
    background: radial-gradient(#dbc8b4, #426e82);
    border: 1px solid black;
    @apply h-full flex justify-center p-5;
}

.album
{
    cursor: pointer;
    @apply h-full flex;
}
.album:hover
{
    filter: brightness(1.75);
}

.sideTextContainer
{
    @apply h-full w-full flex flex-col justify-between border-2 border-orange-200 pb-5;
}

.imageContainer
{
    @apply h-full relative
}

.image
{
    @apply h-full
}

.regular
{
    @apply bg-zinc-800
}

.special
{
    @apply bg-gray-200
}

.textOnSide
{
    white-space: nowrap;
    transform: rotate(-90deg);
    font-weight: 900;
}

.controls
{
    @apply border-2 border-sky-600;
}